rag_cv.json
{
  "name": "rag_cv",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2624,
        672
      ],
      "id": "ea53c822-e31c-4903-b514-92dd19c29718",
      "name": "When chat message received",
      "webhookId": "0077d270-c8bc-4068-90cf-84beaeee2e8a"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2384,
        672
      ],
      "id": "748d013a-bfba-44ba-b452-0e31b053e123",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "description": "cv of a candidate.",
        "topK": "={{ $fromAI('Limit', ``, 'number') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -2160,
        864
      ],
      "id": "37997ba8-71e6-4657-b05c-432df28b6a20",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag",
          "mode": "list",
          "cachedResultName": "rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1008,
        656
      ],
      "id": "b997b7e6-0b4a-442e-bf82-1b8b7fdcea02",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "RrtPRlEN59uTX54A",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1168,
        848
      ],
      "id": "97056ff8-ac52-4476-963c-b5fdd562a542",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "yUEkA6Gu0Jjna5lt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1040,
        1024
      ],
      "id": "fbeb69ee-fd9f-43c8-8112-218ceb4feadd",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2432,
        1136
      ],
      "id": "794009d6-edfa-47df-8333-b86a75026f99",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "yUEkA6Gu0Jjna5lt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "rag",
          "mode": "list",
          "cachedResultName": "rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -2336,
        1008
      ],
      "id": "9d22a1f0-7181-4c6b-844e-bc916480a7cb",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "RrtPRlEN59uTX54A",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1168,
        656
      ],
      "id": "eed6085c-8972-4aaa-b2fe-b27753485550",
      "name": "Download file",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "70j9j3bonWfXqi5T",
          "name": "Google Drive account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1U5_LZSBfLF5hwkPoF_Je1oPnyp6Gbigd",
            "mode": "list",
            "cachedResultName": "rag_automation",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1U5_LZSBfLF5hwkPoF_Je1oPnyp6Gbigd"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1360,
        656
      ],
      "id": "582b86be-ff01-49fa-b6c8-f798571069b5",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "70j9j3bonWfXqi5T",
          "name": "Google Drive account 5"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1552,
        656
      ],
      "id": "75ed48ce-be75-4ce1-99f0-3b5e4add3ce7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2320,
        864
      ],
      "id": "91cfcbd0-d562-4bcc-a0c4-2de251ead96f",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1008,
        864
      ],
      "id": "c753b317-75ea-4a4a-b17f-1003d4f4b565",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2528,
        880
      ],
      "id": "8f9d17ba-2788-4e46-bc61-5bf28302558a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yUEkA6Gu0Jjna5lt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1936,
        1056
      ],
      "id": "b289770d-0a4f-48a7-b406-6dd709fde442",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "yUEkA6Gu0Jjna5lt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Karachi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "970830ba-8101-4578-9c82-20443f966e91",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9320804029f6a5ad603e1128a3bb7ad6155d3092e54f9ac649c8b8f20d34636"
  },
  "id": "2mVYEOBJR3tcBaLh",
  "tags": []
}
